version: "3.9"

services:
  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      dex:
        condition: service_started
      mailhog:
        condition: service_started
      database:
        condition: service_healthy
      elasticsearch:
        condition: service_started
      celery:
        condition: service_started
      celery_beat:
        condition: service_started
    env_file:
      - docker-compose/environments/.api
    volumes:
      - ./api/app:/app
      - ./api/deploy:/deploy
      - ./dwh_media:/dwh_media
      - ./docker-compose/scripts/initialize.sh:/initialize.sh
    command:
      - /initialize.sh

  celery:
    build: ./api
    depends_on:
      mailhog:
        condition: service_started
      database:
        condition: service_healthy
      elasticsearch:
        condition: service_started
      rabbit:
        condition: service_started
    env_file:
      - docker-compose/environments/.celery
    volumes:
      - ./api/app:/app
      - ./api/deploy:/deploy
    command: celery -A signals worker -l debug

  celery_beat:
    build: ./api
    depends_on:
      mailhog:
        condition: service_started
      database:
        condition: service_healthy
      elasticsearch:
        condition: service_started
      rabbit:
        condition: service_started
      celery:
        condition: service_started
    env_file:
      - docker-compose/environments/.celery_beat
    volumes:
      - ./api/app:/app
      - ./api/deploy:/deploy
    command: celery -A signals beat -l debug --pidfile /tmp/celerybeat.pid

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"

  dex:
    image: quay.io/dexidp/dex:v2.23.0
    user: root
    command: serve /config.yml
    ports:
      - "5556:5556"
    volumes:
      - ./dex.dev.yml:/config.yml
      - dex-data:/data

  elasticsearch:
    image: amsterdam/elasticsearch6
    shm_size: '512m'
    command: elasticsearch -Ehttp.host=0.0.0.0 -Etransport.host=127.0.0.1
    ports:
      - "9200:9200"
      - "9300:9300"

  database:
    image: amsterdam/postgres11
    shm_size: '1024m'
    ports:
      - "5409:5432"
    environment:
      POSTGRES_DB: signals
      POSTGRES_USER: signals
      POSTGRES_PASSWORD: insecure
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U signals -d signals'"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbit:
    image: rabbitmq:3.8
    ports:
      - "5672:5672"
    environment:
      - RABBITMQ_ERLANG_COOKIE='secret cookie here'
      - RABBITMQ_DEFAULT_USER=signals
      - RABBITMQ_DEFAULT_PASS=insecure
      - RABBITMQ_DEFAULT_VHOST=vhost

volumes:
  dex-data:
  postgres-data:
