{% load i18n l10n %}

<div id="{{ id }}_div_map"
     class="dj_map_wrapper"
     data-admin-osm-widget
     data-default-lat="{{ default_lat|unlocalize }}"
     data-default-lon="{{ default_lon|unlocalize }}"
     data-default-zoom="{{ default_zoom|unlocalize }}"
     data-field-id="{{ id }}"
     data-field-name="{{ name }}"
     data-geom-name="{{ geom_type }}"
     data-map-id="{{ id }}_map"
     data-map-srid="{{ map_srid|unlocalize }}"
     data-module="{{ module }}">
    <div id="{{ id }}_map" class="dj_map" data-width="{{ map_width }}" data-height="{{ map_height }}"></div>
    {% if not disabled %}<span class="clear_features"><a href="">{% translate "Delete all Features" %}</a></span>{% endif %}
    {% if display_raw %}<p>{% translate "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}"
              {% if not display_raw %} hidden{% endif %}>{{ serialized }}</textarea>
</div>
