{"swagger": "2.0", "info": {"title": "Zaakregistratiecomponent (ZRC) API", "description": "Een API om een zaakregistratiecomponent te benaderen", "contact": {"url": "https://github.com/VNG-Realisatie/gemma-zaken", "email": "support@maykinmedia.nl"}, "license": {"name": "EUPL 1.2"}, "version": "1"}, "host": "ref.tst.vng.cloud", "schemes": ["https"], "basePath": "/api/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"basic": {"type": "basic"}}, "security": [{"basic": []}], "paths": {"/klantcontacten": {"get": {"operationId": "klantcontact_list", "description": "Geef een lijst van KLANTCONTACTen.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/KlantContact"}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["klantcontacten"]}, "post": {"operationId": "klantcontact_create", "description": "Registreer een klantcontact bij een ZAAK.\n\nIndien geen identificatie gegeven is, dan wordt deze automatisch\ngegenereerd.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KlantContact"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/KlantContact"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["klantcontacten"]}, "parameters": []}, "/klantcontacten/{uuid}": {"get": {"operationId": "klantcontact_read", "description": "Opvragen en bewerken van KLANTCONTACTen.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KlantContact"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["klantcontacten"]}, "parameters": [{"name": "uuid", "in": "path", "description": "Unieke resource identifier (UUID4)", "required": true, "type": "string", "format": "uuid"}]}, "/rollen": {"get": {"operationId": "rol_list", "description": "Opvragen en bewerken van ROLrelatie tussen een ZAAK en een BETROKKENE.", "parameters": [{"name": "zaak", "in": "query", "description": "URL to the related resource", "required": false, "type": "string", "format": "uri"}, {"name": "betrokkene", "in": "query", "description": "Een betrokkene gerelateerd aan een zaak", "required": false, "type": "string", "format": "uri"}, {"name": "betrokkeneType", "in": "query", "description": "Soort betrokkene", "required": false, "type": "string", "enum": ["Natuurlijk persoon", "Niet-natuurlijk persoon", "Vestiging", "Organisatorische eenheid", "Medewerker"]}, {"name": "rolomschrijving", "in": "query", "description": "Algemeen gehanteerde benaming van de aard van de ROL", "required": false, "type": "string", "enum": ["Adviseur", "Behandelaar", "Belanghebbende", "Beslisser", "Initiator", "Klantcontacter", "Zaakco\u00f6rdinator", "Mede-initiator"]}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Rol"}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["rollen"]}, "post": {"operationId": "rol_create", "description": "Koppel een BETROKKENE aan een ZAAK.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Rol"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Rol"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["rollen"]}, "parameters": []}, "/rollen/{uuid}": {"get": {"operationId": "rol_read", "description": "Opvragen en bewerken van ROLrelatie tussen een ZAAK en een BETROKKENE.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Rol"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["rollen"]}, "parameters": [{"name": "uuid", "in": "path", "description": "Unieke resource identifier (UUID4)", "required": true, "type": "string", "format": "uuid"}]}, "/statussen": {"get": {"operationId": "status_list", "description": "", "parameters": [{"name": "zaak", "in": "query", "description": "URL to the related resource", "required": false, "type": "string", "format": "uri"}, {"name": "statusType", "in": "query", "description": "", "required": false, "type": "string", "format": "uri"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Status"}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["statussen"]}, "post": {"operationId": "status_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Status"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Status"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["statussen"]}, "parameters": []}, "/statussen/{uuid}": {"get": {"operationId": "status_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Status"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["statussen"]}, "parameters": [{"name": "uuid", "in": "path", "description": "Unieke resource identifier (UUID4)", "required": true, "type": "string", "format": "uuid"}]}, "/zaakobjecten": {"get": {"operationId": "zaakobject_list", "description": "Geef een lijst van ZAAKOBJECTrelaties terug.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ZaakObject"}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaakobjecten"]}, "post": {"operationId": "zaakobject_create", "description": "Registreer een ZAAKOBJECT relatie.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ZaakObject"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ZaakObject"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaakobjecten"]}, "parameters": []}, "/zaakobjecten/{uuid}": {"get": {"operationId": "zaakobject_read", "description": "Geef de details van een ZAAKOBJECT relatie.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ZaakObject"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaakobjecten"]}, "parameters": [{"name": "uuid", "in": "path", "description": "Unieke resource identifier (UUID4)", "required": true, "type": "string", "format": "uuid"}]}, "/zaken": {"get": {"operationId": "zaak_list", "description": "Geef een lijst van ZAAKen.", "parameters": [{"name": "identificatie", "in": "query", "description": "De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK.", "required": false, "type": "string"}, {"name": "bronorganisatie", "in": "query", "description": "Het RSIN van de Niet-natuurlijk persoon zijnde de organisatie die de zaak heeft gecreeerd.", "required": false, "type": "string"}, {"name": "zaaktype", "in": "query", "description": "URL naar het zaaktype in de CATALOGUS waar deze voorkomt", "required": false, "type": "string", "format": "uri"}, {"name": "Accept-Crs", "in": "header", "description": "Het 'Coordinate Reference System' (CRS) van de verzoekdata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "required": true, "type": "string", "enum": ["EPSG:4326"]}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Zaak"}}, "headers": {"Content-Crs": {"description": "Het 'Coordinate Reference System' (CRS) van de antwoorddata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "type": "string", "enum": ["EPSG:4326"]}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "412": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "post": {"operationId": "zaak_create", "description": "Maak een ZAAK aan.\n\nIndien geen identificatie gegeven is, dan wordt deze automatisch\ngegenereerd.\n\nDe URL naar het zaaktype wordt gevalideerd op geldigheid.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Zaak"}}, {"name": "Accept-Crs", "in": "header", "description": "Het 'Coordinate Reference System' (CRS) van de verzoekdata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "required": true, "type": "string", "enum": ["EPSG:4326"]}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Zaak"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "412": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "parameters": []}, "/zaken/_zoek": {"post": {"operationId": "zaak__zoek", "description": "Voer een (geo)-zoekopdracht uit op ZAAKen.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ZaakZoek"}}, {"name": "Accept-Crs", "in": "header", "description": "Het 'Coordinate Reference System' (CRS) van de verzoekdata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "required": true, "type": "string", "enum": ["EPSG:4326"]}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Zaak"}}, "headers": {"Content-Crs": {"description": "Het 'Coordinate Reference System' (CRS) van de antwoorddata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "type": "string", "enum": ["EPSG:4326"]}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "412": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "parameters": []}, "/zaken/{uuid}": {"get": {"operationId": "zaak_read", "description": "Opvragen en bewerken van ZAAKen.", "parameters": [{"name": "Accept-Crs", "in": "header", "description": "Het 'Coordinate Reference System' (CRS) van de verzoekdata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "required": true, "type": "string", "enum": ["EPSG:4326"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Zaak"}, "headers": {"Content-Crs": {"description": "Het 'Coordinate Reference System' (CRS) van de antwoorddata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "type": "string", "enum": ["EPSG:4326"]}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "412": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "put": {"operationId": "zaak_update", "description": "Opvragen en bewerken van ZAAKen.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Zaak"}}, {"name": "Accept-Crs", "in": "header", "description": "Het 'Coordinate Reference System' (CRS) van de verzoekdata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "required": true, "type": "string", "enum": ["EPSG:4326"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Zaak"}, "headers": {"Content-Crs": {"description": "Het 'Coordinate Reference System' (CRS) van de antwoorddata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "type": "string", "enum": ["EPSG:4326"]}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "412": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "patch": {"operationId": "zaak_partial_update", "description": "Opvragen en bewerken van ZAAKen.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Zaak"}}, {"name": "Accept-Crs", "in": "header", "description": "Het 'Coordinate Reference System' (CRS) van de verzoekdata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "required": true, "type": "string", "enum": ["EPSG:4326"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Zaak"}, "headers": {"Content-Crs": {"description": "Het 'Coordinate Reference System' (CRS) van de antwoorddata. Volgens de GeoJSON spec is WGS84 de default (EPSG:4326 is hetzelfde als WGS84).", "type": "string", "enum": ["EPSG:4326"]}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "412": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "parameters": [{"name": "uuid", "in": "path", "description": "Unieke resource identifier (UUID4)", "required": true, "type": "string", "format": "uuid"}]}, "/zaken/{zaak_uuid}/informatieobjecten": {"get": {"operationId": "zaakinformatieobject_list", "description": "Geef een lijst van relaties tussen ZAAKen en INFORMATIEOBJECTen.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ZaakInformatieObject"}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "post": {"operationId": "zaakinformatieobject_create", "description": "Registreer welk(e) INFORMATIEOBJECT(en) een ZAAK kent.\n\nEr wordt gevalideerd op:\n- geldigheid informatieobject URL\n- uniek zijn van relatie ZAAK-INFORMATIEOBJECT\n- bestaan van relatie ZAAK-INFORMATIEOBJECT in het DRC waar het\n  informatieobject leeft", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ZaakInformatieObject"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ZaakInformatieObject"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "parameters": [{"name": "zaak_uuid", "in": "path", "required": true, "type": "string", "format": "uuid", "description": "Unieke resource identifier (UUID4)"}]}, "/zaken/{zaak_uuid}/zaakeigenschappen": {"get": {"operationId": "zaakeigenschap_list", "description": "Geef een collectie van eigenschappen behorend bij een ZAAK.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ZaakEigenschap"}}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "post": {"operationId": "zaakeigenschap_create", "description": "Registreer een eigenschap van een ZAAK.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ZaakEigenschap"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ZaakEigenschap"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/ValidatieFout"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "parameters": [{"name": "zaak_uuid", "in": "path", "required": true, "type": "string", "format": "uuid", "description": "Unieke resource identifier (UUID4)"}]}, "/zaken/{zaak_uuid}/zaakeigenschappen/{uuid}": {"get": {"operationId": "zaakeigenschap_read", "description": "Geef de details van ZaakEigenschap voor een ZAAK.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ZaakEigenschap"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "403": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "404": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "406": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "410": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "415": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "429": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/Fout"}}}, "tags": ["zaken"]}, "parameters": [{"name": "uuid", "in": "path", "description": "Unieke resource identifier (UUID4)", "required": true, "type": "string", "format": "uuid"}, {"name": "zaak_uuid", "in": "path", "required": true, "type": "string", "format": "uuid", "description": "Unieke resource identifier (UUID4)"}]}}, "definitions": {"KlantContact": {"required": ["zaak", "datumtijd"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "format": "uri", "readOnly": true}, "zaak": {"title": "Zaak", "type": "string", "format": "uri"}, "identificatie": {"title": "Identificatie", "description": "De unieke aanduiding van een KLANTCONTACT", "type": "string", "maxLength": 14, "minLength": 1}, "datumtijd": {"title": "Datumtijd", "description": "De datum en het tijdstip waarop het KLANTCONTACT begint", "type": "string", "format": "date-time"}, "kanaal": {"title": "Kanaal", "description": "Het communicatiekanaal waarlangs het KLANTCONTACT gevoerd wordt", "type": "string", "maxLength": 20}}}, "Fout": {"required": ["code", "title", "status", "detail", "instance"], "type": "object", "properties": {"type": {"title": "Type", "description": "URI referentie naar het type fout, bedoeld voor developers", "type": "string"}, "code": {"title": "Code", "description": "Systeemcode die het type fout aangeeft", "type": "string", "minLength": 1}, "title": {"title": "Title", "description": "Generieke titel voor het type fout", "type": "string", "minLength": 1}, "status": {"title": "Status", "description": "De HTTP status code", "type": "integer"}, "detail": {"title": "Detail", "description": "Extra informatie bij de fout, indien beschikbaar", "type": "string", "minLength": 1}, "instance": {"title": "Instance", "description": "URI met referentie naar dit specifiek voorkomen van de fout. Deze kan gebruikt worden in combinatie met server logs, bijvoorbeeld.", "type": "string", "minLength": 1}}}, "FieldValidationError": {"required": ["name", "code", "reason"], "type": "object", "properties": {"name": {"title": "Name", "description": "Naam van het veld met ongeldige gegevens", "type": "string", "minLength": 1}, "code": {"title": "Code", "description": "Systeemcode die het type fout aangeeft", "type": "string", "minLength": 1}, "reason": {"title": "Reason", "description": "Uitleg wat er precies fout is met de gegevens", "type": "string", "minLength": 1}}}, "ValidatieFout": {"required": ["code", "title", "status", "detail", "instance", "invalid-params"], "type": "object", "properties": {"type": {"title": "Type", "description": "URI referentie naar het type fout, bedoeld voor developers", "type": "string"}, "code": {"title": "Code", "description": "Systeemcode die het type fout aangeeft", "type": "string", "minLength": 1}, "title": {"title": "Title", "description": "Generieke titel voor het type fout", "type": "string", "minLength": 1}, "status": {"title": "Status", "description": "De HTTP status code", "type": "integer"}, "detail": {"title": "Detail", "description": "Extra informatie bij de fout, indien beschikbaar", "type": "string", "minLength": 1}, "instance": {"title": "Instance", "description": "URI met referentie naar dit specifiek voorkomen van de fout. Deze kan gebruikt worden in combinatie met server logs, bijvoorbeeld.", "type": "string", "minLength": 1}, "invalid-params": {"type": "array", "items": {"$ref": "#/definitions/FieldValidationError"}}}}, "Rol": {"required": ["zaak", "betrokkene", "betrokkeneType", "rolomschrijving", "roltoelichting"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "format": "uri", "readOnly": true}, "zaak": {"title": "Zaak", "type": "string", "format": "uri"}, "betrokkene": {"title": "Betrokkene", "description": "Een betrokkene gerelateerd aan een zaak", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "betrokkeneType": {"title": "Betrokkene type", "description": "Soort betrokkene", "type": "string", "enum": ["Natuurlijk persoon", "Niet-natuurlijk persoon", "Vestiging", "Organisatorische eenheid", "Medewerker"]}, "rolomschrijving": {"title": "Rolomschrijving", "description": "Algemeen gehanteerde benaming van de aard van de ROL", "type": "string", "enum": ["Adviseur", "Behandelaar", "Belanghebbende", "Beslisser", "Initiator", "Klantcontacter", "Zaakco\u00f6rdinator", "Mede-initiator"]}, "roltoelichting": {"title": "Roltoelichting", "type": "string", "maxLength": 1000, "minLength": 1}}}, "Status": {"required": ["zaak", "statusType", "datumStatusGezet"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "format": "uri", "readOnly": true}, "zaak": {"title": "Zaak", "type": "string", "format": "uri"}, "statusType": {"title": "Status type", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "datumStatusGezet": {"title": "Datum status gezet", "description": "De datum waarop de ZAAK de status heeft verkregen.", "type": "string", "format": "date-time"}, "statustoelichting": {"title": "Statustoelichting", "description": "Een, voor de initiator van de zaak relevante, toelichting op de status van een zaak.", "type": "string", "maxLength": 1000}}}, "ZaakObject": {"required": ["zaak", "object", "type"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "format": "uri", "readOnly": true}, "zaak": {"title": "Zaak", "type": "string", "format": "uri"}, "object": {"title": "Object", "description": "URL naar de resource die het OBJECT beschrijft.", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "relatieomschrijving": {"title": "Relatieomschrijving", "description": "Omschrijving van de betrekking tussen de ZAAK en het OBJECT.", "type": "string", "maxLength": 80}, "type": {"title": "Type", "description": "Beschrijft het type object gerelateerd aan de zaak", "type": "string", "enum": ["VerblijfsObject", "MeldingOpenbareRuimte", "InzageVerzoek"]}}}, "Geometry": {"title": "Geometry", "description": "GeoJSON geometry", "required": ["type"], "type": "object", "properties": {"type": {"description": "The geometry type", "type": "string", "enum": ["Point", "MultiPoint", "LineString", "MultiLineString", "Polygon", "MultiPolygon", "Feature", "FeatureCollection", "GeometryCollection"]}}, "discriminator": "type", "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1"}}, "Point2D": {"title": "Point2D", "description": "A 2D point", "type": "array", "items": {"type": "number"}, "maxItems": 2, "minItems": 2}, "Point": {"description": "GeoJSON point geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["coordinates"], "type": "object", "properties": {"coordinates": {"$ref": "#/definitions/Point2D"}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.2"}}, "MultiPoint": {"description": "GeoJSON multi-point geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["coordinates"], "type": "object", "properties": {"coordinates": {"type": "array", "items": {"$ref": "#/definitions/Point2D"}}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.3"}}, "LineString": {"description": "GeoJSON line-string geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["coordinates"], "type": "object", "properties": {"coordinates": {"type": "array", "items": {"$ref": "#/definitions/Point2D"}, "minItems": 2}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.4"}}, "MultiLineString": {"description": "GeoJSON multi-line-string geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["coordinates"], "type": "object", "properties": {"coordinates": {"type": "array", "items": {"type": "array", "items": {"$ref": "#/definitions/Point2D"}}}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.5"}}, "Polygon": {"description": "GeoJSON polygon geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["coordinates"], "type": "object", "properties": {"coordinates": {"type": "array", "items": {"type": "array", "items": {"$ref": "#/definitions/Point2D"}}}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"}}, "MultiPolygon": {"description": "GeoJSON multi-polygon geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["coordinates"], "type": "object", "properties": {"coordinates": {"type": "array", "items": {"type": "array", "items": {"type": "array", "items": {"$ref": "#/definitions/Point2D"}}}}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.7"}}, "GeometryCollection": {"description": "GeoJSON multi-polygon geometry", "type": "object", "allOf": [{"$ref": "#/definitions/Geometry"}, {"required": ["geometries"], "type": "object", "properties": {"geometries": {"type": "array", "items": {"$ref": "#/definitions/Geometry"}}}}], "externalDocs": {"url": "https://tools.ietf.org/html/rfc7946#section-3.1.8"}}, "GeoJSONGeometry": {"title": "GeoJSONGeometry", "type": "object", "oneOf": [{"$ref": "#/definitions/Point"}, {"$ref": "#/definitions/MultiPoint"}, {"$ref": "#/definitions/LineString"}, {"$ref": "#/definitions/MultiLineString"}, {"$ref": "#/definitions/Polygon"}, {"$ref": "#/definitions/MultiPolygon"}, {"$ref": "#/definitions/GeometryCollection"}]}, "ZaakKenmerk": {"description": "Lijst van kenmerken", "required": ["kenmerk", "bron"], "type": "object", "properties": {"kenmerk": {"title": "Kenmerk", "description": "Identificeert uniek de zaak in een andere administratie.", "type": "string", "maxLength": 40, "minLength": 1}, "bron": {"title": "Bron", "description": "De aanduiding van de administratie waar het kenmerk op slaat.", "type": "string", "maxLength": 40, "minLength": 1}}}, "Zaak": {"required": ["bronorganisatie", "zaaktype", "verantwoordelijkeOrganisatie", "startdatum"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "format": "uri", "readOnly": true}, "identificatie": {"title": "Identificatie", "description": "De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK.", "type": "string", "maxLength": 40}, "bronorganisatie": {"title": "Bronorganisatie", "description": "Het RSIN van de Niet-natuurlijk persoon zijnde de organisatie die de zaak heeft gecreeerd.", "type": "string", "maxLength": 9, "minLength": 1}, "omschrijving": {"title": "Omschrijving", "description": "Een korte omschrijving van de zaak.", "type": "string", "maxLength": 80}, "zaaktype": {"title": "Zaaktype", "description": "URL naar het zaaktype in de CATALOGUS waar deze voorkomt", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "registratiedatum": {"title": "Registratiedatum", "description": "De datum waarop de zaakbehandelende organisatie de ZAAK heeft geregistreerd. Indien deze niet opgegeven wordt, wordt de datum van vandaag gebruikt.", "type": "string", "format": "date"}, "verantwoordelijkeOrganisatie": {"title": "Verantwoordelijke organisatie", "description": "URL naar de Niet-natuurlijk persoon zijnde de organisatie die eindverantwoordelijk is voor de behandeling van de zaak.", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "startdatum": {"title": "Startdatum", "description": "De datum waarop met de uitvoering van de zaak is gestart", "type": "string", "format": "date"}, "einddatum": {"title": "Einddatum", "description": "De datum waarop de uitvoering van de zaak afgerond is.", "type": "string", "format": "date", "readOnly": true}, "einddatumGepland": {"title": "Einddatum gepland", "description": "De datum waarop volgens de planning verwacht wordt dat de zaak afgerond wordt.", "type": "string", "format": "date"}, "uiterlijkeEinddatumAfdoening": {"title": "Uiterlijke einddatum afdoening", "description": "De laatste datum waarop volgens wet- en regelgeving de zaak afgerond dient te zijn.", "type": "string", "format": "date"}, "toelichting": {"title": "Toelichting", "description": "Een toelichting op de zaak.", "type": "string", "maxLength": 1000}, "zaakgeometrie": {"$ref": "#/definitions/GeoJSONGeometry"}, "status": {"title": "Status", "description": "Indien geen status bekend is, dan is de waarde 'null'", "type": "string", "format": "uri", "readOnly": true}, "kenmerken": {"description": "Lijst van kenmerken", "type": "array", "items": {"$ref": "#/definitions/ZaakKenmerk"}}}}, "GeoWithin": {"title": "Zaakgeometrie", "type": "object", "properties": {"within": {"$ref": "#/definitions/GeoJSONGeometry"}}}, "ZaakZoek": {"required": ["zaakgeometrie"], "type": "object", "properties": {"zaakgeometrie": {"$ref": "#/definitions/GeoWithin"}, "identificatie": {"title": "Identificatie", "description": "De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK.", "type": "string", "minLength": 1}, "bronorganisatie": {"title": "Bronorganisatie", "description": "Het RSIN van de Niet-natuurlijk persoon zijnde de organisatie die de zaak heeft gecreeerd.", "type": "string", "minLength": 1}, "zaaktype": {"title": "Zaaktype", "description": "URL naar het zaaktype in de CATALOGUS waar deze voorkomt", "type": "string", "minLength": 1}}}, "ZaakInformatieObject": {"required": ["informatieobject"], "type": "object", "properties": {"informatieobject": {"title": "Informatieobject", "description": "URL-referentie naar het informatieobject in het DRC, waar ook de relatieinformatie opgevraagd kan worden.", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}}}, "ZaakEigenschap": {"required": ["zaak", "eigenschap", "waarde"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "format": "uri", "readOnly": true}, "zaak": {"title": "Zaak", "type": "string", "format": "uri"}, "eigenschap": {"title": "Eigenschap", "description": "URL naar de eigenschap in het ZTC", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "waarde": {"title": "Waarde", "type": "string", "minLength": 1}}}}}
