azure-storage-blob
beautifulsoup4
Celery
Django>4.1,<4.3
django-celery-beat
django-celery-email
django-celery-results
django-cors-headers
django-extensions
django-filter
django-markdownx
django-o365mail
djangorestframework<3.16
djangorestframework-gis
django-silk
django-storages
drf-amsterdam
drf-extensions
django-fsm
drf-spectacular[sidecar]
elasticsearch-dsl>=7.0.0,<8.0.0
flower
jsonschema
jwcrypto
lxml
mozilla-django-oidc
networkx
opencensus-ext-azure
opencensus-ext-django
opencensus-ext-logging
opencensus-ext-postgresql
opencensus-ext-requests
Pillow
psycopg2-binary
pypdf
python-dateutil
python-magic
requests
textX
uWSGI
weasyprint==52.5
