-r requirements.txt

factory-boy
flake8
freezegun
isort
mypy
mypy-baseline
django-stubs[compatible-mypy]
djangorestframework-stubs[compatible-mypy]
types-beautifulsoup4
types-jsonschema
types-Pillow
types-Markdown
types-python-dateutil
pytest
pytest-bdd
pytest-cov
pytest-django
pytest-subtests
pytest-timeout
pytest-xdist
requests_mock
tox
xmlunittest
