-r requirements.txt

factory-boy
flake8
freezegun
isort
mypy
mypy-baseline
django-stubs[compatible-mypy]
pytest
pytest-bdd
pytest-cov
pytest-django
pytest-subtests
pytest-timeout
pytest-xdist
requests_mock
tox
xmlunittest
