-r requirements.txt

factory-boy
flake8
freezegun
isort
mypy
mypy-baseline
django-stubs[compatible-mypy]
djangorestframework-stubs[compatible-mypy]
django-filter-stubs
types-beautifulsoup4
types-cryptography
types-factory-boy
types-jsonschema
types-Pillow
types-psycopg2
types-Pygments
types-Markdown
types-python-dateutil
lxml-stubs
pytest
pytest-bdd
pytest-cov
pytest-django
pytest-subtests
pytest-timeout
pytest-xdist
requests_mock
tox
xmlunittest
