Arpeggio
azure-storage-blob
cairocffi
CairoSVG
Celery
Click
coreapi
datapunt-authorization-django
Django>=3.2,<4
django-celery-beat
django-celery-email
django-celery-results
django-cors-headers
django-extensions
django-filter
django-fsm
django-markdownx
django-o365mail
djangorestframework
djangorestframework-gis
django-rest-swagger
django-silk
django-storages
drf_amsterdam
drf-extensions
drf_spectacular-sidecar
drf-spectacular
elasticsearch-dsl>=7.0.0,<8.0.0
flex
flower
jsonschema
lxml
Markdown
mistune<3
mozilla-django-oidc
networkx
opencensus-ext-azure
opencensus-ext-django
opencensus-ext-logging
opencensus-ext-postgresql
opencensus-ext-requests
Pillow
psycopg2-binary
pypdf
python-dateutil
python-magic
raven
requests
textX
types-cryptography
uWSGI
weasyprint==52.5
