amqp==2.3.2
asn1crypto==0.24.0
Babel==2.6.0
billiard==3.5.0.3
celery==4.2.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.1.4
datapunt-authorization-django==0.2.22
datapunt-authorization-levels==0.1.3
debtcollector==1.19.0
Django==2.0.7
django-appconf==1.0.2
django-braces==1.13.0
django-celery-email==2.0.0
django-cors-headers==2.3.0
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-filter==1.1.0
django-rest-swagger==2.2.0
django-storage-swift==1.2.19
django-storages==1.6.6
djangorestframework==3.8.2
djangorestframework-gis==0.13
git+https://github.com/Amsterdam/drf_amsterdam.git#egg=drf_amsterdam
drf-extensions==0.3.1
drf-yasg==1.9.1
factory-boy==2.11.1
Faker==0.8.16
flex==6.13.2
future==0.16.0
idna==2.7
inflection==0.3.1
iso8601==0.1.12
itypes==1.1.0
Jinja2==2.10
jsonpointer==1.14
jsonschema==2.6.0
keystoneauth1==3.9.0
kombu==4.2.1
MarkupSafe==1.0
monotonic==1.5
msgpack==0.5.6
netaddr==0.7.19
netifaces==0.10.7
openapi-codec==1.3.2
os-service-types==1.2.0
oslo.config==6.3.0
oslo.i18n==3.20.0
oslo.serialization==2.27.0
oslo.utils==3.36.3
pbr==4.1.0
Pillow==5.2.0
psycopg2-binary==2.7.5
pycparser==2.18
PyJWT==1.6.4
pyparsing==2.2.0
python-dateutil==2.7.3
python-keystoneclient==3.17.0
python-magic==0.4.15
python-swiftclient==3.5.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
rfc3986==1.1.0
rfc3987==1.3.7
ruamel.yaml==0.15.42
simplejson==3.16.0
six==1.11.0
sqlparse==0.2.4
stevedore==1.28.0
strict-rfc3339==0.7
swagger-spec-validator==2.3.1
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.23
validate-email==1.3
vine==1.1.4
wrapt==1.10.11
