Celery
coreapi
datapunt-authorization-django
datapunt-authorization-levels
django-braces
django-celery-beat
django-celery-email
django-celery-results
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-imagekit
django-rest-swagger
django-storage-swift
django-storages
django>=2.0
django_extensions
djangorestframework
djangorestframework-csv
djangorestframework-gis
djangorestframework-xml
drf-extensions
drf-yasg[validation]
drf_amsterdam
drf_yasg
flex
graypy
jsonschema
lxml
Pillow
psycopg2-binary
pygelf
python-dateutil
raven
requests
swagger-spec-validator
WeasyPrint

# Test Libraries
factory-boy
flake8
freezegun
isort
pytest
pytest-cov
pytest-django
pytest-xdist
pytest-timeout
tox
xmlunittest
