amqp==5.0.6
apipkg==1.5
appdirs==1.4.4
Arpeggio==1.10.1
asgiref==3.3.4
attrs==20.3.0
billiard==3.6.4.0
cairocffi==1.2.0
CairoSVG==2.5.2
celery==5.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
coreapi==2.3.3
coreschema==0.0.4
coverage==5.5
cryptography==3.4.7
cssselect2==0.4.1
datapunt-authorization-django==1.3.0
debtcollector==2.2.0
defusedxml==0.7.1
distlib==0.3.1
Django==3.2.10
django-appconf==1.0.4
django-celery-beat==2.2.0
django-celery-email==3.0.0
django-celery-results==2.0.1
django-cors-headers==3.7.0
django-debug-toolbar==3.2.1
django-extensions==3.1.2
django-filter==2.4.0
django-rest-swagger==2.2.0
django-storage-swift==1.2.19
django-storages==1.11.1
django-timezone-field==4.1.2
djangorestframework==3.12.4
djangorestframework-csv==2.1.0
djangorestframework-gis==0.17
djangorestframework-xml==2.0.0
drf-amsterdam==0.4.1
drf-extensions==0.7.0
elasticsearch==6.8.2
elasticsearch-dsl==6.4.0
execnet==1.8.0
factory-boy==3.2.0
Faker==8.0.0
filelock==3.0.12
flake8==3.9.0
flex==6.14.1
freezegun==1.1.0
html5lib==1.1
idna==2.10
iniconfig==1.1.1
iso8601==0.1.14
isort==5.8.0
itypes==1.2.0
Jinja2==2.11.3
jsonpointer==2.1
jsonschema==3.2.0
jwcrypto==0.8
keystoneauth1==4.3.1
kombu==5.0.2
lxml==4.6.5
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==2.0.0a6
msgpack==1.0.2
netaddr==0.8.0
netifaces==0.11.0
openapi-codec==1.3.2
os-service-types==1.7.0
oslo.config==8.5.0
oslo.i18n==5.0.1
oslo.serialization==4.1.0
oslo.utils==4.8.0
packaging==20.9
pbr==5.5.1
pilkit==2.0
Pillow==8.3.2
pluggy==0.13.1
prompt-toolkit==3.0.18
protobuf==3.15.7
psycopg2-binary==2.8.6
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pyparsing==2.4.7
Pyphen==0.10.0
pyrsistent==0.17.3
pytest==6.2.3
pytest-cov==2.11.1
pytest-django==4.1.0
pytest-forked==1.3.0
pytest-timeout==1.4.2
pytest-xdist==2.2.1
python-crontab==2.5.1
python-dateutil==2.8.1
python-keystoneclient==4.2.0
python-magic==0.4.22
python-swiftclient==3.11.1
pytz==2021.1
PyYAML==5.4.1
raven==6.10.0
requests==2.25.1
requests-mock==1.8.0
rfc3986==1.4.0
rfc3987==1.3.8
simplejson==3.17.2
six==1.15.0
sqlparse==0.4.2
stevedore==3.3.0
strict-rfc3339==0.7
tenacity==7.0.0
text-unidecode==1.3
textX==2.3.0
tinycss2==1.1.0
toml==0.10.2
tox==3.23.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.5
uWSGI==2.0.19.1
validate-email==1.3
vine==5.0.0
virtualenv==20.4.3
wcwidth==0.2.5
WeasyPrint==52.4
webencodings==0.5.1
wrapt==1.12.1
xmlunittest==0.5.0

python-magic==0.4.22
networkx==2.6.2
matplotlib==3.4.3
pydot==1.4.2

django-markdownx==3.0.1
Markdown==3.3.6