Celery
datapunt-authorization-django
datapunt-authorization-levels
django>=2.0
django-braces
django-cors-headers
django-debug-toolbar
django-extensions
django_extensions
django-filter
django-rest-swagger
django-storage-swift
djangorestframework
djangorestframework-csv
djangorestframework-gis
djangorestframework-xml
drf-extensions
drf_amsterdam
psycopg2-binary
factory-boy
freezegun
drf_yasg
swagger-spec-validator
django-celery-email
django-storages
django-storage-swift
Pillow
graypy
pygelf
coreapi
jsonschema
drf-yasg[validation]
swagger-spec-validator
flex
lxml
python-dateutil
WeasyPrint
requests

# Test Libraries
pytest
pytest-flake8
pytest-django
pytest-django